![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)

# Lab | Making predictions with logistic regression

In this lab, you will be using the [Sakila](https://dev.mysql.com/doc/sakila/en/) database of movie rentals.

In order to optimize our inventory, we would like to know which films will be rented next month and we are asked to create a model to predict it.


1. Create a query or queries to extract the information you think may be relevant for building the prediction model. It should include some film features and some rental features. Use the data from 2005.

In [1]:
# prep: import modules and get pwd
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input
password = getpass.getpass()

········

In [6]:
# get the data
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)
query = '''select f.film_id, f.rental_rate, f.special_features, f.rating, fc.category_id, fa.actor_id
FROM sakila.rental 
LEFT JOIN sakila.inventory i USING (inventory_id)
LEFT JOIN sakila.film f USING (film_id)
LEFT JOIN sakila.film_actor fa USING (film_id)
LEFT JOIN sakila.film_category fc USING (film_id)
WHERE rental_date BETWEEN '2005-01-01 00:00:00' AND '2005-12-31 23:23:59'
GROUP BY f.film_id;'''

data = pd.read_sql_query(query, engine)
data.head()

,film_id,rental_rate,special_features,rating,category_id,actor_id
0,80,2.99,Trailers,G,8,16.0
1,333,2.99,"Trailers,Behind the Scenes",R,12,42.0
2,373,2.99,"Trailers,Behind the Scenes",G,3,139.0
3,535,0.99,"Trailers,Behind the Scenes",R,11,5.0
4,450,2.99,Trailers,NC-17,3,38.0

2. Create a query to get the list of films and a boolean indicating if it was rented last month (August 2005). This would be our target variable.

3. Read the data into a Pandas dataframe.

4. Analyze extracted features and transform them. You may need to encode some categorical variables, or scale numerical variables.

5. Create a logistic regression model to predict this variable from the cleaned data.

6. Evaluate the results.